:root {
  --tile-height: 14vh;
  --tile-width: 15vw;
}

.tile {
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  line-height: var(--tile-height);
  height: var(--tile-height);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: var(--tile-width);

  cursor: pointer;
}

.tile:hover {
  opacity: 50%;
}

.dull {
  opacity: 50%;
}

.red-font {
  color: var(--red);
}

.blue-font {
  color: var(--blue);
}

.neutral-font {
  color: var(--neutral);
}

.black-font {
  background: var(--assassin);
  background-size: 100% 100%;
}
