:root {
  --tile-height: 15vh;
  --tile-width: 15vw;
}

.tile {
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  line-height: var(--tile-height);
  height: var(--tile-height);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: var(--tile-width);

  cursor: pointer;
}

.tile:hover {
  opacity: 50%;
}

/* .red {
  background: red
}

.blue {
  background: blue
}

.neutral {
  background: white
}

.black {
  background: black
} */
