.role-section__container {
  width: 60vw;
  border: 5px double white;
  border-radius: 10px;
  padding-bottom: 2vw;
  background-color: var(--secondary-color);
}

.role__container {
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 6vh 6vh; */

  list-style: none;
  align-items: center;

  padding-inline-start: 0px; 
  padding: 0vw 2vw;
}

.role {
  border: 1px solid white;
  border-radius: 10px;
  padding: 1vw;
}

.role > label {
  cursor: pointer;
}

input[type="radio"] {
  width: 1vw;
  height: 1vw;
  min-width: 20px;
  min-height: 20px;
  vertical-align: middle;
  margin-right: 1vw;
  cursor: pointer
}