:root {
  --red: #cc0000;
  --blue: #0099ff;
  --neutral:  #6600cc;
  --assassin: url("./img/assassin.png");
  --bg-color: #292c38;
  --secondary-color: #363a49;
}

.App {
  text-align: center;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: white; 
}

.red {
  background-color: var(--red);
}

.blue {
  background-color: var(--blue);
}

.black {
  background: var(--assassin);
  background-size: 100% 100%;
}

.neutral {
  background-color: var(--neutral);
}

button {
  font-size: 28px;
  border-radius: 5px;
  color: white;
  background-color: #363a49;
  padding: 1vw;
  /* margin: 1vw; */
}
